.javascript-icon {
  max-height: 55px;
}

.sr-icons {
  color: #dab92d;
}

.sr-contact {
  width: 10%;
}

.section-heading {
  text-align: center;
}

.section-heading-title {
  color: whitesmoke;
}

.contact-icons {
  display: flex;
  flex-direction: row;
}

.portfolio-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.portfolio-box:hover {
  opacity: 1;
}

.btn-xl:hover {
  background-color: rgb(141, 183, 180);
  border-color: rgb(175, 228, 224);
}

.text-faded {
  color: white;
}

.text-header {
  color: rgba(0, 0, 0, 0.7);
}

.portfolio-box .portfolio-box-caption {
  /*background: rgb(141, 183, 180);*/
  background: rgba(98, 125, 138, 0.77);
}
.portfolio-box:hover {
}

.icon-link {
  color: black;
}

.fa-github {
  color: rgba(74, 142, 17, 0.71);
}

.fa-linkedin {
  color: #1a85bc;
}

.fa-file-pdf-o {
  color: rgba(255, 0, 0, 0.54);
}

.mfp-bg .mfp-img-mobile .mfp-ready {
  display: none;
}

.project-name:hover {
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.ruby {
  color: #e04242;
}

.html-css {
  color: #686aff;
}

.sql {
  color: #ff6868;
}

.mask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.41);
}
