.javascript-icon {
  max-height: 55px;
}

.sr-icons {
  color: #dab92d;
}

.sr-contact {
  width: 10%;
}

.section-heading {
  text-align: center;
}

.section-heading-title {
  color: whitesmoke;
}

.contact-icons {
  display: flex;
  flex-direction: row;
}

.portfolio-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.portfolio-box:hover {
  opacity: 1;
}

.btn-xl:hover {
  background-color: #84722c;
  border-color: #ffd83a;
}

.text-faded {
  color: white;
}

.text-header {
  color: rgba(56, 34, 34, 0.71);
}

.portfolio-box .portfolio-box-caption {
  background: rgba(53, 17, 9, 0.9);
}
.portfolio-box:hover {
  background: rgba(53, 17, 9, 0.9);
}

.icon-link {
  color: black;
}

.fa-github {
  color: rgba(74, 142, 17, 0.71);
}

.fa-linkedin {
  color: #1a85bc;
}

.fa-file-pdf-o {
  color: rgba(255, 0, 0, 0.54);
}

.mfp-bg .mfp-img-mobile .mfp-ready {
  display: none;
}

.project-name:hover {
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}
